# Tuples

In [1]:
a = (123, 54, 92) 
b = () 
c = ("Ala") 
d = (2, 3, False, "Arg", None) 

print(a)
print(b)
print(c)
print(d)

(123, 54, 92)
()
('Ala',)
(2, 3, False, 'Arg', None)

In [2]:
x = 1.2
y = -0.3
z = 0.9
t = (x, y, z)

print(t)

(1.2, -0.3, 0.9)

In [3]:
t = 2, 3, 4 
print('t is', t)
x, y, z = t 
print('x is', x)
print('y is', y)
print('z is', z)

t is (2, 3, 4)
x is 2
y is 3
z is 4

# lists

In [4]:
a = [1, 3, 9, 'Py', 217.213]
b = ["Python"]
c = []

print(a)
print(b)
print(c)

[1, 3, 9, 'Py', 217.213]
['Python']
[]

In [5]:
matrix = [[[input(),input()], [input(),input()]]]
print(matrix)

5
6
5
6
[[['5', '6'], ['5', '6']]]

In [1]:
a = (1, 4, 9, 16)    
b = ['A','B','C','d'] 
print(a)
print(b)
l = list(a)  
print(l)
t = tuple(b)
print(t)

(1, 4, 9, 16)
['A', 'B', 'C', 'd']
[1, 4, 9, 16]
('A', 'B', 'C', 'd')

# Manipulating tuples and lists

#Index Access

In [3]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]

print('t is', t)
print('t[0] is', t[0])
print('t[2] is', t[2])

print('x is', x)
print('x[-1] is', x[-1])

t is (123, 54, 92, 87, 33)
t[0] is 123
t[2] is 92
x is [123, 54, 92, 87, 33]
x[-1] is 33

#Slices

In [4]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('t[1:3] is', t[1:3])
print('x[2:] is', x[2:])
print('x[:-1] is', x[:-1])

t[1:3] is (54, 92)
x[2:] is [92, 87, 33]
x[:-1] is [123, 54, 92, 87]

#in operator

In [19]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('123 in', x, 123 in x)
print('234 in', t, 234 in t)
print('999 not in', x, 999 not in x)

123 in [123, 54, 92, 87, 33] True
234 in (123, 54, 92, 87, 33) False
999 not in [123, 54, 92, 87, 33] True

In [4]:
a = [1, 2, 3, 4, 5]

a[2:]

[3, 4, 5]

#len() and count() functions

In [5]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print("length of t is", len(t))
print("number of 33s in x is", x.count(33))

length of t is 5
number of 33s in x is 1

# Modifying lists

In [7]:
x = [123, 54, 92, 87, 33]
print(x)
x[2] = 33
print(x)

[123, 54, 92, 87, 33]
[123, 54, 33, 87, 33]

In [1]:
t = (123, 54, 92, 87, 33)
print(t)

(123, 54, 92, 87, 33)

TypeError: 'tuple' object does not support item assignment

In [8]:
x = [123, 54, 92, 87, 33]
x.append(101)
print(x)

[123, 54, 92, 87, 33, 101]

In [9]:
x = [123, 54, 92, 87, 33]
x.insert(3, 1111)
print(x)

[123, 54, 92, 1111, 87, 33]

In [10]:
x = [123, 54, 92, 87, 33]
x.remove(123)
print(x)

[54, 92, 87, 33]

In [11]:
x = [123, 54, 92, 87, 33]
print(x)
del x[0]
print(x)

[123, 54, 92, 87, 33]
[54, 92, 87, 33]

In [12]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
a.append(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [13]:
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [14]:
a = [1, 2, 3, 4, 5, 6]
a[1:3] = [9, 9, 9, 9]
print(a)

[1, 9, 9, 9, 9, 4, 5, 6]

In [18]:
a = [1, 3, 5, 4, 2]
a.reverse()
print(a)
#print(a[::2])
a.sort()
print(a)

[2, 4, 5, 3, 1]
[1, 2, 3, 4, 5]

In [4]:
a = [2, 5, 7, 1]
b = sorted(a)
print(a)
print(b)

[2, 5, 7, 1]
[1, 2, 5, 7]

# String manipulations

In [2]:
text = "ABCDEFGH"
print(text[0])
print(text[-2])
print(text[0:6])
print("EFG" in text)
print("ABC" in text)
print(len(text))

A
G
ABCDEF
True
True
8

In [3]:
text = "ABCDEFGH"
text[0:2] = "CCC"

TypeError: 'str' object does not support item assignment

In [5]:
string = "ABCDEDCBA"
index = string.find("CDE")
print("CDE is at position:", index)
index = string.rfind('C')
print("The last C is at position:", index)

CDE is at position: 2
The last C is at position: 6

In [17]:
s = "     My name is Python     "
print(len(s), s, ".")
print(len(s.rstrip()), s.rstrip(), ".")
print(len(s.lstrip()), s.lstrip(), ".")
print(len(s.strip()), s.strip(),".")

27      My name is Python      .
22      My name is Python .
22 My name is Python      .
17 My name is Python .

In [19]:
string = "My name is Python"
words = string.split(" ")
print(words)

letters = list(string) # a tuple of character converted into a list
print(letters)

['My', 'name', 'is', 'Python']
['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [20]:
string = "My name is Python"
words = string.split(" ")
print(words)
print("|".join(words))

['My', 'name', 'is', 'Python']
My|name|is|Python

In [21]:
language = "Python"
version = 3.6
print(language + str(version))

Python3.6

# Sets

In [ ]:
l = [1, 2, 3, 2, 3] # list of 5 values
s = set(l) # set of 3 unique values
print(s)
e = set() # empty set
print(e)

In [ ]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

In [ ]:
s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

In [ ]:
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 5, 6, 7])

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)

# Dictionaries

In [24]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(sports)

sports['C']

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton'}

'Hockey'

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("A represents", sports["A"])
print("G represents", sports["G"])

In [25]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports["N"])

KeyError: 'N'

In [27]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports.get("N"))
print("With a default value:", sports.get("N", "asfasfasf"))

What about N? None
With a default value: asfasfasf

In [28]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"T" in sports

False

In [29]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"Y" not in sports

True

In [30]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(len(sports))

4

In [31]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
sports['E'] = 'Kabaddi'
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi'}

In [21]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
sports['F'] = 'Volley Ball'
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi', 'F': 'Volley Ball'}

In [32]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi", 'F': 'Volley Ball'}
del sports['F']
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi'}

In [33]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.keys()))

['A', 'B', 'C', 'D', 'E']

In [34]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.values()))

['Cricket', 'Football', 'Hockey', 'Badminton', 'Kabaddi']

In [36]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.items()))

[('A', 'Cricket'), ('B', 'Football'), ('C', 'Hockey'), ('D', 'Badminton'), ('E', 'Kabaddi')]